<head>
    <title> {{ pageTitle }} </title>
</head>

<main class='signers-main'>
    <a href='/edit'>
        <div class="btn edit-btn">Edit Profile</div>
    </a>

    <a href="/logout" class='signers-link'>
        <div class="btn logout-btn">Log Out</div>
    </a>

    <div class="wrapper-signers">
        <h1 class="signers-text"> You and {{ numOfSigners }} other People want to stay in the Sun.See who else
            is
            against Rain and want to have
            Sun
            only!</h1>
    </div>

    <div class="ul-wrapper">
        <ul class="signers-ul">
            {{#signers}}
            <li class='signers-li'>
                {{#if url}}
                <a href="{{ url }}" class='signers-link'>{{ first }} {{last}}</a>
                {{else}}
                {{ first }} {{ last }}
                {{/if}}
                {{#if age}}
                , {{age}} years
                {{/if}}
                {{#city}}
                <a href="signers/{{.}}" class='signers-link'>{{.}} </a>
                {{/city}}
            </li>
            {{/signers}}
        </ul>
    </div>


</main>