<head>
    <title> {{ pageTitle }} </title>
</head>

{{>edit-button}}

<div class="wrapper-signers">

    <h1 class="signers-borderbottom"> You and {{ numOfSigners }} other People want to stay in the Sun.See who else is
        against Rain and want to have
        Sun
        only!</h1>




    <ul class="signers-ul">

        {{#signers}}
        <li>
            {{#if url}}
            <a href="{{ url }}">{{ first }} {{last}}</a>
            {{else}}
            {{ first }} {{ last }} ,
            {{/if}}
            {{age}} years,
            {{#city}}
            <a href="signers/{{.}}">{{.}} </a>
            {{/city}}
        </li>
        {{/signers}}
    </ul>

    <h3 class="signers-logout"><a href="/logout">Log
            Out</a> out from this page!</h3>



</div>